body {
    padding: 0 0.5em;
}

main {
    margin: 2em 0;
}
h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1.3rem;
}
code {
    color: #8C0D0D;
}
caption {
    color:#222;
    font-weight:bold;
}
footer {
    margin-bottom: 2em;
}
#skiplinks {
    text-align:center;
    margin-bottom:1em;
}
/* -------------------------------------------------------------------------- */
/* Themes */
/* -------------------------------------------------------------------------- */
.theme {
    border-top: 30px solid #999;
    margin: 0.5em 0 0;
    padding: 0;
}

.theme h2 {
    color: #22313d;
    background-color: #f4f1ed;
    margin:0;
    padding: 0.3em 0;
}
.theme h2:before {
    content: ":: ";
    color: #ff6710;
}

.theme header {
    margin-bottom: 2em;
}
.theme header p,
.theme header h3 {
    font-style: italic;
    margin:0;
}

.navTheme {
    margin: 0;
}
/* -------------------------------------------------------------------------- */
/* Criteria */
/* -------------------------------------------------------------------------- */
.criteria {
    border-top: solid 2px #00005b;
}

.criteria h3 {
    margin-top: 0.5em;
}

.correspondance {
    color: black;
    background-color: #e9e1da;
    margin: 0.5em 0 1.5em;
    padding: 0.25em 0;
}

.correspondance h4,
.correspondance p{
    margin: 0;
}

/* -------------------------------------------------------------------------- */
/* Test */
/* -------------------------------------------------------------------------- */

.test-list>li {
    margin: 0 0 0.7em;
}
/* -------------------------------------------------------------------------- */
/* Footnotes */
/* -------------------------------------------------------------------------- */
aside.footnotes {
    margin: 2em 0;
}
.footnotes li:target {
    background-color: rgb(234, 236, 105);
}